@charset "UTF-8";
/* =======================================================================================
common
======================================================================================= */
:lang(en) {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

.header .topmenu a[target="_blank"]::after {
  display: inline-block;
  font-family: xeicon;
  content: "";
  font-size: 1em;
  margin-left: .3rem;
  font-weight: 300;
}

/* =======================================================================================
header
======================================================================================= */
.header {
  min-height: 10rem;
  color: #242427;
  border-bottom: 1px solid rgba(149, 160, 183, 0.25);
}

.header .logo {
  float: left;
  margin-top: 2rem;
  width: 31rem;
  height: 5.3rem;
}

.header .logo a {
  display: block;
  height: 100%;
  background: url(../img/common/logo.gif) 0 0/auto 11rem no-repeat;
}

.header .gnb_util {
  float: right;
  margin-top: 3.2rem;
  font-size: 2.6rem;
}

.header .gnb_util > [class^=btn_] {
  margin-left: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.header .pop_title, .header .pop_close {
  display: none;
}

.topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topmenu .depth1 > a {
  display: block;
  white-space: nowrap;
  position: relative;
  padding: 4.1rem 2rem 3.7rem;
  letter-spacing: -.025em;
  font-size: 1.8rem;
  font-weight: 700;
  color: #242427;
}

.topmenu .depth1 > a::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  left: 50%;
  bottom: -1px;
  height: 4px;
  width: 0;
  background-color: #1dacee;
  -webkit-transition: .2s;
  transition: .2s;
}

.topmenu .depth1.active > a::before {
  width: 100%;
}

.topmenu .submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 10rem;
  z-index: 20;
  width: 100%;
  background-color: #fff;
  padding: 4rem 0;
  text-align: left;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(149, 160, 183, 0.25);
}

.topmenu .title_area {
  width: 1350px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: auto;
}

.topmenu .title_area .title {
  font-size: 4.4rem;
  color: #1dacee;
  margin-bottom: 4rem;
}

.topmenu .title_area p {
  color: #333;
  position: relative;
  width: 30rem;
  word-break: keep-all;
}

.topmenu .title_area p::before {
  content: '';
  display: block;
  width: 2rem;
  height: 1px;
  background-color: #aaa;
  margin: 1rem 0;
}

.topmenu .depth2 {
  max-width: 1350px;
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
  padding-left: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topmenu .depth2 > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.2%;
          flex: 0 0 23.2%;
  margin-left: 1.8%;
  position: relative;
  margin-bottom: 2rem;
}

.topmenu .depth2 > li > a {
  display: block;
  border: 1px solid #5687c3;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.7rem;
  color: #3b3b3e;
}

.topmenu .depth2 > li > a:hover {
  background-color: #1dacee;
  border-color: #1dacee;
  color: #fff;
  -webkit-transition: .25s;
  transition: .25s;
}

.topmenu .depth3 {
  margin: 1.5rem 0 2.5rem 1rem;
}

.topmenu .depth3 a:hover {
  color: #1dacee !important;
  font-weight: 700 !important;
}

.topmenu .depth3 > li > a {
  color: #727272;
  display: block;
  padding: .7rem 0 .7rem 1rem;
  position: relative;
}

.topmenu .depth3 > li > a::before {
  content: '';
  display: block;
  width: .3rem;
  height: .3rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  border-radius: 50%;
  background-color: #b3bec1;
}

.topmenu .depth4 {
  display: none;
}

.sch_layer {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  left: 0;
  top: 10.1rem;
  z-index: 4;
  background: #f9f9fb;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.12);
}

.sch_layer .container {
  position: relative;
}

.sch_layer .title {
  font-size: 3rem;
  color: #46464a;
  margin-right: 4rem;
  display: inline-block;
  vertical-align: middle;
}

.sch_layer input[type=text] {
  border: 2px solid #46464a;
  color: #727272;
  font-size: 2rem;
  width: 50rem;
  padding: 1.5rem 5rem 1.5rem 1.5rem;
  -webkit-box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
}

.sch_layer .btn_sch {
  font-size: 2.5rem;
  color: #242427;
  margin-left: -5rem;
  vertical-align: middle;
}

.sch_layer .btn_sch_close {
  position: absolute;
  right: 5.9rem;
  top: 1rem;
}

.sch_layer .btn_sch_close i {
  color: #1dacee;
  font-size: 3rem;
  font-weight: 700;
}

.sch_layer.active {
  opacity: 1;
  visibility: visible;
  max-height: 13rem;
  overflow: visible;
}

.allmenu {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.allmenu .pop_title {
  display: block;
  color: #242427;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.allmenu .pop_close {
  display: block;
  position: absolute;
  right: 3rem;
  top: 3rem;
  font-size: 2.5rem;
  color: #242427;
}

.allmenu .header .nav {
  width: 1350px;
  height: 90%;
  background-color: #fff;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 10;
  border-radius: 1rem;
  padding: 3rem;
}

.allmenu .topmenu {
  display: inherit;
  width: 100%;
  height: 90%;
  padding-right: 2%;
  overflow: auto;
}

.allmenu .topmenu::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 1rem;
}

.allmenu .topmenu::-webkit-scrollbar {
  width: 0.6rem;
}

.allmenu .topmenu::-webkit-scrollbar-thumb {
  background-color: #d5d7dc;
  border-radius: 1rem;
}

.allmenu .topmenu .submenu {
  display: block;
  position: static;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.allmenu .topmenu .depth1 {
  position: relative;
}

.allmenu .topmenu .depth1 > a {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.8rem;
  color: #1dacee;
  padding-left: 0;
}

.allmenu .topmenu .title_area,
.allmenu .topmenu .depth1.active > a::before,
.allmenu .topmenu .depth3 > li > a::before {
  display: none;
}

.allmenu .topmenu .depth2 > li > a {
  font-size: 1.8rem;
  font-weight: 700;
  border-color: #d2d4da;
}

.allmenu .topmenu .depth3 > li > a {
  color: #46464a;
  padding-left: 0;
  font-weight: 500;
}

.allmenu .topmenu .depth4 {
  display: block;
}

.allmenu .topmenu .depth4 > li > a {
  color: #727272;
  display: block;
  font-size: 1.4rem;
  padding: .5rem 0 .5rem 1rem;
  position: relative;
}

.allmenu .topmenu .depth4 > li > a::before {
  content: '';
  display: block;
  width: .3rem;
  height: .3rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  border-radius: 50%;
  background-color: #b3bec1;
}

.allmenu::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
}

.main {
  position: relative;
  width: 100%;
}

/* =======================================================================================
go_top
======================================================================================= */
.go_top {
  display: block;
  width: 6rem;
  height: 6rem;
  padding-top: 1rem;
  border-radius: 50%;
  background-color: #889;
  color: #fff;
  position: fixed;
  text-align: center;
  right: 2.5rem;
  bottom: 2.5rem;
  z-index: 7;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.go_top i {
  font-size: 2rem;
}

.go_top span {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
}

.go_top:hover {
  background-color: #50505A;
}

.go_top.fixed {
  opacity: 1;
  visibility: visible;
}

.go_top.stick {
  position: absolute;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  left: auto;
  bottom: 0;
}

/* =======================================================================================
footer
======================================================================================= */
.footer {
  position: relative;
  padding: 4rem 0 5rem;
  border-top: 2px solid #555;
  letter-spacing: -1px;
}

.footer .container {
  position: relative;
}

.footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_nav {
  margin-bottom: 1.6rem;
}

.footer .footer_nav > li {
  display: inline-block;
  position: relative;
  padding-left: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1.7rem;
  color: #666;
}

.footer .footer_nav > li::before {
  content: "";
  display: block;
  width: 1px;
  height: 1.3rem;
  background-color: #d8d8d8;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  top: 50%;
}

.footer .footer_nav > li:first-of-type {
  padding-left: 0;
  margin-left: 0;
}

.footer .footer_nav > li:first-of-type::before {
  display: none;
}

.footer .footer_nav > li strong {
  color: #333;
}

.footer .footer_nav > li a:hover strong,
.footer .footer_nav > li a:hover {
  color: #1dacee;
}

.footer .sns li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1.4rem;
}

.footer .sns a {
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #7b7b82;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 2.8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .sns a:hover {
  background-color: #50505A;
}

.footer .address_group {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #767676;
  display: block;
}

.footer .copyright {
  display: block;
  margin-top: .1rem;
}

.footer .relate_site {
  position: absolute;
  right: 0;
  top: 5rem;
  width: 20.7rem;
  z-index: 7;
}

.footer .relate_site .title {
  display: block;
  padding: 1.4rem 3rem 1.4rem 1.5rem;
  background-color: #f5f7fa;
  color: #666;
  border: 1px solid #e8e8e8;
  font-size: 1.6rem;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.footer .relate_site .title:hover {
  background-color: #e5e7ea;
}

.footer .relate_site .xi-caret-up {
  font-size: 1rem;
  color: #333;
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.4rem;
  top: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer .relate_site .list {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  left: auto;
  bottom: 5rem;
  max-height: 0;
  background-color: #eaeef3;
  -webkit-transition: .3s;
  transition: .3s;
  width: 100%;
}

.footer .relate_site .list > li {
  padding: 0;
  border: 0;
  text-align: left;
}

.footer .relate_site .list > li a {
  display: block;
  padding: .3rem 1rem;
  font-size: 1.4rem;
}

.footer .relate_site .list > li a:hover {
  background-color: white;
  color: #333;
}

.footer .relate_site.active .xi-caret-up {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.footer .relate_site.active .list {
  opacity: 1;
  visibility: visible;
  border: 1px solid #e8e8e8;
  padding: 1rem 0;
  max-height: 1000px;
}

@media (max-width: 1279.98px) {
  .container {
    padding: 0 1.5rem;
  }
  .header .gnb_util > [class^=btn_] {
    margin-left: .8rem;
  }
  .header .sch_layer .btn_sch_close {
    right: 5.9rem;
  }
  .allmenu #gnb {
    display: block;
    width: calc(100% - 2rem);
  }
  .topmenu .depth1 > a {
    padding-left: .7rem;
    padding-right: .7rem;
  }
  .submenu .title_area {
    width: 20%;
    left: 2rem;
    -webkit-transform: none;
            transform: none;
  }
  .submenu .title_area .title {
    font-size: 3rem;
  }
  .submenu .title_area p {
    width: 100%;
  }
  .submenu .title_area p br {
    display: none;
  }
  .footer .address_group {
    padding-right: 22rem;
  }
  .footer .relate_site {
    right: 2rem;
  }
}

@media (max-width: 1023.98px) {
  html {
    font-size: 9px;
  }
  .header {
    min-height: 7rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .header .logo {
    padding: 1.7rem 0;
    margin: 0 auto;
    float: none;
  }
  .header .logo::before {
    content: '';
    display: table;
  }
  .header .logo a {
    width: 25.4rem;
    height: 4.4rem;
    background-position: 0 0;
    background-size: auto 9rem;
    margin: auto;
  }
  .header .gnb_util .btn_eng {
    display: none;
  }
  .header .gnb_util > [class^=btn_] {
    margin-left: 0;
  }
  .header .sch_layer {
    left: 0;
    top: 7rem;
    width: 100%;
    padding: 2rem 0;
    -webkit-transform: none;
            transform: none;
  }
  .header .sch_layer .btn_sch {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
  }
  .header .sch_layer .btn_sch_close {
    top: -7.5rem;
    right: 2rem;
    background-color: #fff;
  }
  .header .btn_sch_open {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
  }
  .header .btn_allmenu {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
  }
  .header .nav {
    display: none;
  }
  .allmenu .header {
    background-color: #fff;
    border-bottom: 1px solid #e7e8ea;
  }
  .allmenu .header .logo a {
    background-position: 0 0;
  }
  .allmenu .header .gnb_util {
    color: #39393c;
  }
  .allmenu #gnb {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    border-radius: 0;
    padding: 0;
  }
  .allmenu .pop_title {
    display: none;
  }
  .allmenu .mobile_global {
    display: block;
    height: 7rem;
    background-color: #3c4b77;
    color: #fff;
    padding: 1.5rem 2rem;
  }
  .allmenu .mobile_global a {
    display: inline-block;
    padding: 1rem;
  }
  .allmenu .mobile_global a:first-of-type::after {
    content: '';
    display: block;
    height: .3rem;
    width: 100%;
    background-color: #fff;
    margin-top: .5rem;
  }
  .allmenu .mobile_global a:last-child {
    color: #aab5d4;
  }
  .allmenu .pop_close {
    right: 2rem;
    top: 1.6rem;
    color: #fff;
  }
  .allmenu .topmenu {
    height: calc(100vh - 6.875rem);
    padding-right: 0;
    position: relative;
    background-color: #f6f6f8;
    display: block;
  }
  .allmenu .topmenu .depth1 {
    position: static;
  }
  .allmenu .topmenu .depth1 > a {
    position: static;
    width: 16.25rem;
    font-size: 2rem;
    color: #727272;
    font-weight: 400;
    padding: 2rem 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }
  .allmenu .topmenu .depth1.active {
    color: #1dacee;
    font-weight: 700;
    background-color: #fff;
  }
  .allmenu .topmenu .depth1.active .submenu {
    display: block;
  }
  .allmenu .topmenu .submenu {
    display: none;
    padding: 2.5rem;
    position: absolute;
    top: 0;
    left: 16.25rem;
    width: calc(100% - 16.25rem);
    height: 100%;
    border-left: 1px solid #d6d8de;
    background-color: #fff;
    overflow-y: auto;
  }
  .allmenu .topmenu .depth2 {
    padding-left: 0;
  }
  .allmenu .topmenu .depth2 > li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
  }
  .allmenu .topmenu .depth2 > li.active > a {
    background-color: #1dacee;
    color: #fff;
  }
  .allmenu .topmenu .depth2 > li.active > .depth3 {
    display: block;
    margin: 1rem;
  }
  .allmenu .topmenu .depth2 > li.is-depth3 > a::before {
    display: inline-block;
    font-family: xeicon;
    content: "";
    font-size: 1.8rem;
    position: absolute;
    right: 1.4rem;
    top: 1.7rem;
    z-index: 2;
    color: #aaa;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .allmenu .topmenu .depth2 > li.is-depth3.active > a::before {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    color: #fff;
  }
  .allmenu .topmenu .depth2 > li > a {
    text-align: left;
  }
  .allmenu .topmenu .depth3 {
    display: none;
  }
  .allmenu .topmenu .depth3 > li ~ li {
    border-top: 1px solid #e6eaef;
  }
  .fixed.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 7rem;
    background-color: #fff;
    -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.06);
  }
  .fixed.header + .main {
    margin-top: 7rem;
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 8px;
  }
  .header .sch_layer {
    text-align: left;
  }
  .header .sch_layer .title {
    display: none;
  }
  .header .sch_layer input[type=text] {
    width: 100%;
  }
  .footer {
    padding-top: 2rem;
  }
  .footer .footer_nav {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e7e8ea;
  }
  .footer .footer_nav > li {
    padding-left: 1rem;
    margin-left: 1rem;
  }
  .footer .sns {
    margin: 0 auto 2rem;
  }
  .footer .address_group {
    text-align: center;
    padding-right: 0;
  }
  .footer .address address {
    word-break: keep-all;
  }
  .footer .relate_site {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    margin-top: 3rem;
  }
}
/*# sourceMappingURL=layout.css.map */