//color
$color1 : #1dacee;
$color2 : #0db65e;
$color3 : #00c4ae;
$color4 : #17252e;
$color5 : #ff5371;

//container 
$container : 1350px;

//percent 
@function per($target, $base) {
  @return ($target / $base) * 100%;
}

//position:absolute
@mixin pos ($pos, $n1, $n2, $x:null, $y:null){
  position:absolute; 
  @if ($x != null and $y == null)  {transform:translateX($x);}
  @else if ($x != null and $y != null) {transform:translate($x, $y);} 
  @if ($pos == lt) {left: $n1; top:$n2;}
  @else if ($pos == rt) {right: $n1; top:$n2;}
  @else if ($pos == lb) {left: $n1; bottom:$n2;}
  @else if ($pos == rb) {right: $n1; bottom:$n2;}
}

//inactive
@mixin inactive($sec){
  opacity:0;visibility:hidden;max-height:0;overflow:hidden;transition:$sec;
}
//inactive
@mixin active($h){
  opacity:1;visibility:visible;max-height:$h;overflow:visible;
}

//ellipsis
@mixin ellipsis{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
@mixin ellipsis2($row, $height){display:-webkit-box; -webkit-line-clamp: $row; max-height:$height; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;white-space:normal;word-wrap:break-word;word-break:keep-all}

//scrollbar
@mixin scrollbar($track:#f5f5f5, $thumb:#d5d7dc, $size:.6rem,  $round:1rem, $direction:v){
  &::-webkit-scrollbar-track{background-color: $track; border-radius: $round;}
  &::-webkit-scrollbar	{
    @if ($direction == v) { width: $size; }
    @else if ($direction == h) { height: $size; }
  } 
  &::-webkit-scrollbar-thumb{background-color: $thumb; border-radius: $round;}
}

//xeicon
@mixin xeicon($cont, $size:null){
  display:inline-block; font-family: xeicon; content:$cont; font-size: $size;
}

//blank
@mixin blank{
  @include xeicon('\e980', 1em); margin-left:.3rem; font-weight:300;
}


@mixin bullet($width, $height, $color, $top:1rem, $round:null){
	position:relative;
	padding-left:$width + 1rem;
	&::before{
		content: ""; display:block;position:absolute;left:0;top:$top;
		width: $width; height: $height; background-color: $color; border-radius: $round;
	}
}

// clear-fix
@mixin clear_fix {
    &::after {
    content:"";
    display:block;
    clear:both;
  }
}

@mixin vertical{display:inline-block;vertical-align:middle;}
@mixin align($h, $v){
  display: -webkit-box; //chrome 박스
  -webkit-box-align: $v; //chrome 수직가운데
  -webkit-box-pack: $h; //chrome 수평가운데
  display: -ms-flexbox;//ie 박스
  align-items: $v; //ie 수직가운데
  -ms-flex-pack: $h; //ie 수평가운데
  //justify-content: center;
  //display: flex;
  //-ms-flex-align: center;
}

@mixin sprite($left, $top){background:url("../../images/korean/sub/icon-sprite.png") no-repeat $left $top;}


//vertical bar
@mixin barV($height, $color, $padding){position:relative;padding-left:$padding;margin-left:$padding;
  &::before{content:"";display:block;width:1px;height:$height;background-color:$color;  position: absolute; left: 0; top: 50%; transform: translateY(-50%);}
  &:first-of-type{padding-left:0;margin-left:0;
    &::before{display:none;}
  }
}
//gradient
@mixin gradient($direction, $colorF, $colorE){
  background: $colorF;
  background: linear-gradient(to $direction, $colorF, $colorE);
}
//bg
@mixin bg($class) { background:url("../../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat }
@mixin classBg($class) {
   .#{$class}{background:url("../../images/kor/sub/"+ $class +".gif") 0 0 /cover no-repeat;}
}



//circle
@mixin circle($size){border-radius:50%;width:$size;height:$size;text-align:center;}
@mixin octagon($size){width: $size;height: $size;position: relative;
  &::before,&::after{content: ""; width: $size + 0.1rem; height: 0; position: absolute;left: -0.05rem;border: $size/3.3 solid transparent;border-left-color:#fff;border-right-color:#fff;}
  &::before { top: -$size/3.3; }
  &:after { bottom: -$size/3.3;} 
}






//안쓰는것.

@mixin position_center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
@mixin position_top($top) {
    position:absolute;
    top:$top;
    transform:translateY(-50%);
}
@mixin position_left($left) {
    position:absolute;
    left:$left;
    transform:translateX(-50%);
}
@mixin clearfix {
    content:"";
    display:block;
    clear:both;
}
